.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2%;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(223, 221, 217);
  outline: 2px solid rgb(128, 124, 124);
  width: 500px;
  border-radius: 10px;
}

.selected__info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background-color: rgb(123, 184, 122);
  width: 500px;
  outline: 1px solid rgb(3, 66, 35);
  border-radius: 10px;
  margin: 15px 0;
}

.selected__info:hover {
  background-color: rgb(105, 160, 104);
  outline: 2px solid rgb(2, 45, 23);
}

/* .selected__info--premium {
    background-color: rgb(185, 53, 110);
    outline: 4px solid rgb(114, 113, 113);
    transition: all 0.3s;
} */

.btn__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  display: inline-block;
  background-color: #44719f;
  color: #ecf0f1;
  padding: 10px;
  border-radius: 6px;
  border: none;
  width: 140px;
  line-height: 10px;
  margin: 10px;
}

button:hover {
  cursor: pointer;
  background-color: #5d6771;
}

.one__selectedDiv {
  background-color: green;
  outline: 4px solid yellowgreen;
  border-radius: 10px;
}
